#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
div{
display: flex;
flex-direction:column;
height: 300px;
width: 700px;
align-items: center;
margin: 20px;
}
span{
  margin: 5px;
}